* {
	box-sizing: border-box;
}
html {
	background-color: #FFF;
}
body {
	font-family: $text;
	font-size: $fs-m;
	line-height: 1.4em;
	color: #444;
	-webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 5.625em;
  line-height: 1.22222222em;
  margin-top: 0.48888889em;
  margin-bottom: 0.24444444em;
}
h2 {
  font-size: 3.1875em;
  line-height: 1.294117647em;
  margin-top: 0.8627451em;
  margin-bottom: 0.43137255em;
}
h3 {
  font-size: 1.75em;
  line-height: 1.571428572em;
  margin-top: 0.78571429em;
  margin-bottom: 0.43137255em;
}
h4 {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 1.375em;
  margin-bottom: 1.375em;
}

p.pos, p .pos, span.pos, div.text-pos {
	color: $positive;
}

p.neg, p .neg, span.neg, div.text-neg {
	color: $negative;
}

p.muted, p .muted, span.muted, div.text-muted {
	color: lighten($text-dark, 26%);
}

p.primary, p .primary, span.primary, div.text-primary {
	color: $primary;
}
